
@{
    ViewBag.Title = "Success";
}

<head>
    <link rel="stylesheet" href="~/Success.css"/>
</head>
<body bgcolor="">
    <h1><b><u>SHIV</u></b></h1>
    <h3><center>CAR & CONSULTANT</center></h3>
    <br />  
    
    &nbsp; <h4>KEVAL H. MAKVANA</h4>
  <pre>+91 72039 35737
kevalmakvana84458@gmail.com</pre>

  <hr />
  <ul>
      <li>@Html.ActionLink("CUSTOMER(Reg)", "Index", "Customer")</li>

      <li>@Html.ActionLink("CAR(Reg)", "Index", "Car")</li>

      <li>@Html.ActionLink("CAR COLLECTION", "Index", "CarCollection")</li>

      <li>@Html.ActionLink("SERVICES", "Index", "Services")</li>

      <li>@Html.ActionLink("INVENTORY", "Inventory", "Home")</li>      

      <li>@Html.ActionLink("SOLD CARS", "Index", "SoldCar")</li>

      <li>@Html.ActionLink("ABOUT US", "About", "Home")</li>

      <li>@Html.ActionLink("CONTACT US", "Contact", "Home")</li>

      <li>@Html.ActionLink("OTHER", "Other", "Home")</li>

  </ul>
</body>