@model ProjectOfWebFormMVC.Models.Car_Registration

@{
    ViewBag.Title = "Edit";
}
<style>
    h2 {
        color: #0e387a;
        font-family: Castellar;
    }

        h2:hover {
            color: #9fafca;
        }
</style>
<h2><b>EDIT CARS:-</b></h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">       
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Car_Id)

        <div class="form-group">
            @Html.LabelFor(model => model.Compony_Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Compony_Name, new SelectList(new[] {"MARUTI SUZUKI","HYUNDAI","TATA","HONDA","MAHINDRA",
           "RENAULT","VOLKSWAGEN","SKODA","TOYOTA","MG","KIA","JEEP","NISSAN","CITROEN","BMW","AUDI","FERRARI","MERCEDES","TESLA",
           "FORD","PORSCHE","LAMBORGINI","BENTLEY","JAGUAR","BUGGATI"}), "--COMPONY NAME--",
                  new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Compony_Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Car_Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Car_Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Car_Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Car_No, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Car_No, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Car_No, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Car_Model, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Car_Model, new SelectList(new[] { "PETROL", "DIESEL","EV" }), "--FUAL TYPE--", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Car_Model, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Owner_Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Owner_Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Owner_Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Model_Year, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Model_Year, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Model_Year, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.City, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.City, new SelectList(new[] {
                  "UNA","VERAVAL","KODINAR","RAJKOT","VADODARA","JAMNAGAR","DIU","JUNAGADH","KESHOD","DWARKA","AHMEDABAD","SURAT","VADODARA","PATAN",
              "PORBANDAR","MORBI","BHUJ","BHAVNAGAR","ANAND","MEHSANA","NAVSARI","BHARUCH","AMRELI","NADIAD","GODHRA","VALSAD","GANDHINAGAR",
              "DABHOI","BOTAD","DAHOD","SIHOR","VADNAGAR"}), "--CITY--",
                  new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Car_Price, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Car_Price, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Car_Price, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
